* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto 1fr;
}

header {
  grid-area: header;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

dialog {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  background: white;
  margin: auto;
}

aside {
  grid-area: sidebar;
  background-color: #f1f1f1;
  padding: 10px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  margin-bottom: 15px;
}

button#new-project {
  font-size: 0.8rem;
  padding: 7px;
  background-color: #4a9fd8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#new-project:hover {
  background-color: #71b4e0;
}

ul#project-list {
  list-style: none;
}

ul#project-list li {
  text-decoration: none;
  padding: 10px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-size: 1.1rem;
  display: flex;
}

ul#project-list li:hover {
  background-color: #ccc;
}

ul#project-list li.selected {
  background-color: #857f7f;
  color: #fff;
}

.menu-group {
  margin-left: auto;
  display: flex;
  gap: 5px;
}

#project-title {
  margin: 15px 0 0 10px;
  font-size: 2rem;
  font-weight: bold;
}

button#new-todo {
  font-size: 0.8rem;
  padding: 8px;
  background-color: #4a9fd8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0 0 15px;
}

button#new-todo:hover {
  background-color: #71b4e0;
}

ul#todo-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
}

ul#todo-list li {
  position: relative;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  order: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ul#todo-list li:hover {
  background-color: #d0dfeb;
}

ul#todo-list li.completed {
  opacity: 0.6; /* fade it out */
  background-color: #e0e0e0; /* grey background */
  text-decoration: line-through;

  order: 1; /* move it to the end */
}

ul#todo-list li .todo-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

ul#todo-list li .todo-description {
  font-size: 0.9rem;
  color: #363636;
  margin-bottom: 1rem;
}

ul#todo-list li .due-priority {
  border-top: 1px solid lightgrey;
  display: flex;
  margin-top: auto;
  align-items: baseline;
  padding: 0.5rem 0.3rem 0.2rem 0.3rem;
  justify-content: space-between;
}

ul#todo-list li .todo-due-date {
  font-size: 0.9rem;
  color: #363636;
  margin-bottom: 0;
}

ul#todo-list li .todo-priority {
  font-size: 0.9rem;
  color: #363636;
  padding-left: 1.2rem;
}

ul#todo-list li .todo-actions {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  display: flex;
  gap: 0.3rem; /* spacing between buttons */
}

ul#todo-list li .todo-actions input[type="checkbox"] {
  transform: scale(1.1);
}

ul#todo-list li .todo-actions button,
ul#todo-list li .todo-actions input[type="checkbox"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

ul#todo-list li .todo-actions button:hover,
ul#todo-list li .todo-actions input[type="checkbox"]:hover {
  transform: scale(1.2);
}

form h2 {
  margin-bottom: 0.5rem;
}

form#project-form,
form#project-update-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 110px;
  height: auto;
}

form#project-form .form-group,
form#project-update-form .form-group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

form label:not(:first-of-type) {
  margin-top: 0.5rem;
}

form#todo-form,
form#todo-update-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 380px;
  height: auto;
  width: 450px;
}

input {
  padding: 0.1rem;
}

form#todo-form textarea,
form#todo-update-form textarea {
  resize: vertical; /* allow user to drag vertically only */
  min-height: 4rem;
  padding: 0.1rem;
}

menu {
  margin-left: auto;
  margin-top: auto;
}
menu button {
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
  width: 50px;
}
